html {
    font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
}
body {
    display: flex;
    margin: 0 var(--metric-box-spacing);
}
:is(h1,h2,h3,p,li,article) {
    max-inline-size: initial;
    margin-block-start: var(--metric-box-spacing);
}

article {
    overflow-y: scroll;
    height: 90vh;
    width: 400px;
    max-inline-size: 66ch;
}
.box {
    position: absolute;
    left: 30px;
    top: 30px;
    display: flex;
    flex-direction: row;
}

.box-drag {
    position: absolute;
    top: 0;
    right: -10px;
    width: 8px;
    height: 100%;
    background: red;
    border-radius: 4px 4px;
}